@import "tailwindcss";

@theme {
  --font-pixel: var(--font-geist-pixel), monospace;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
  background-image: url('../assets/bgimage3.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-color: #000;
}

@keyframes walker {
  /* Left side - facing RIGHT */
  0% {
    left: -10%;
    transform: scaleX(-1);
  }

  45% {
    left: 100%;
    transform: scaleX(-1);
  }

  /* Flip at right side */
  50% {
    left: 100%;
    transform: scaleX(1);
  }

  /* Right to left - facing LEFT */
  95% {
    left: -10%;
    transform: scaleX(1);
  }

  /* Flip at left side */
  100% {
    left: -10%;
    transform: scaleX(-1);
  }
}

.animate-walker {
  animation: walker 12s linear infinite;
}